In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
 full_data = pd.read_csv("https://catalog.ourworldindata.org/garden/covid/latest/compact/compact.csv")

In [ ]:
full_Data.shape

(515215, 61)

In [ ]:
full_Data.columns

Index(['country', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed',
       'total_cases_per_million', 'new_cases_per_million',
       'new_cases_smoothed_per_million', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_deaths_per_million',
       'new_deaths_per_million', 'new_deaths_smoothed_per_million',
       'excess_mortality', 'excess_mortality_cumulative',
       'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'icu_patients',
       'icu_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'stringency_index',
       'reproduction_rate', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'code', 'continent',
       'population', 'population_density', 'median_age', 'life_expectancy',
       'gdp_per_capita', 'extreme_poverty', 'diabetes_prevalence',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'human_development_index'],
      dtype='object')

In [ ]:
full_Data.head(10)

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
5,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
6,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
7,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
8,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
9,Afghanistan,2020-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN

In [ ]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515215 entries, 0 to 515214
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     515215 non-null  object
 1   date                                        515215 non-null  object
 2   total_cases                                 500739 non-null  float64
 3   new_cases                                   497709 non-null  float64
 4   new_cases_smoothed                          496504 non-null  float64
 5   total_cases_per_million                     500739 non-null  float64
 6   new_cases_per_million                       497709 non-null  float64
 7   new_cases_smoothed_per_million              496504 non-null  float64
 8   total_deaths                                500739 non-null  float64
 9   new_deaths                                  498517 non-null  float64
 10  new_deaths_smoothed                         497305 non-null  float64
 11  total_deaths_per_million                    500739 non-null  float64
 12  new_deaths_per_million                      498517 non-null  float64
 13  new_deaths_smoothed_per_million             497305 non-null  float64
 14  excess_mortality                            13636 non-null   float64
 15  excess_mortality_cumulative                 13636 non-null   float64
 16  excess_mortality_cumulative_absolute        13636 non-null   float64
 17  excess_mortality_cumulative_per_million     13602 non-null   float64
 18  hosp_patients                               40656 non-null   float64
 19  hosp_patients_per_million                   40656 non-null   float64
 20  weekly_hosp_admissions                      24497 non-null   float64
 21  weekly_hosp_admissions_per_million          24497 non-null   float64
 22  icu_patients                                39116 non-null   float64
 23  icu_patients_per_million                    39116 non-null   float64
 24  weekly_icu_admissions                       10993 non-null   float64
 25  weekly_icu_admissions_per_million           10993 non-null   float64
 26  stringency_index                            202760 non-null  float64
 27  reproduction_rate                           185683 non-null  float64
 28  total_tests                                 79387 non-null   float64
 29  new_tests                                   75403 non-null   float64
 30  total_tests_per_thousand                    79387 non-null   float64
 31  new_tests_per_thousand                      75403 non-null   float64
 32  new_tests_smoothed                          103965 non-null  float64
 33  new_tests_smoothed_per_thousand             103965 non-null  float64
 34  positive_rate                               101560 non-null  float64
 35  tests_per_case                              100645 non-null  float64
 36  total_vaccinations                          83222 non-null   float64
 37  people_vaccinated                           79011 non-null   float64
 38  people_fully_vaccinated                     77011 non-null   float64
 39  total_boosters                              58784 non-null   float64
 40  new_vaccinations                            68876 non-null   float64
 41  new_vaccinations_smoothed                   202840 non-null  float64
 42  total_vaccinations_per_hundred              83222 non-null   float64
 43  people_vaccinated_per_hundred               79011 non-null   float64
 44  people_fully_vaccinated_per_hundred         77011 non-null   float64
 45  total_boosters_per_hundred                  58784 non-null   float64
 46  new_vaccinations_smoothed_per_million       202840 non-null  float64
 47  new_people_vaccinated_smoothed              202840 non-null  float64
 48  new_people_vaccinated_smoothed_per_hundred  202840 non-null  float64
 49  code                                        492471 non-null  object
 50  continent                                   476311 non-null  object
 51  population                                  498432 non-null  float64
 52  population_density                          490379 non-null  float64
 53  median_age                                  492399 non-null  float64
 54  life_expectancy                             0 non-null       float64
 55  gdp_per_capita                              402286 non-null  float64
 56  extreme_poverty                             330192 non-null  float64
 57  diabetes_prevalence                         434531 non-null  float64
 58  handwashing_facilities                      233059 non-null  float64
 59  hospital_beds_per_thousand                  311572 non-null  float64
 60  human_development_index                     0 non-null       float64
dtypes: float64(57), object(4)
memory usage: 239.8+ MB

In [ ]:
full_data['date'] = pd.to_datetime(full_data['date'])

full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515215 entries, 0 to 515214
Data columns (total 61 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   country                                     515215 non-null  object
 1   date                                        515215 non-null  datetime64[ns]
 2   total_cases                                 500739 non-null  float64
 3   new_cases                                   497709 non-null  float64
 4   new_cases_smoothed                          496504 non-null  float64
 5   total_cases_per_million                     500739 non-null  float64
 6   new_cases_per_million                       497709 non-null  float64
 7   new_cases_smoothed_per_million              496504 non-null  float64
 8   total_deaths                                500739 non-null  float64
 9   new_deaths                                  498517 non-null  float64
 10  new_deaths_smoothed                         497305 non-null  float64
 11  total_deaths_per_million                    500739 non-null  float64
 12  new_deaths_per_million                      498517 non-null  float64
 13  new_deaths_smoothed_per_million             497305 non-null  float64
 14  excess_mortality                            13636 non-null   float64
 15  excess_mortality_cumulative                 13636 non-null   float64
 16  excess_mortality_cumulative_absolute        13636 non-null   float64
 17  excess_mortality_cumulative_per_million     13602 non-null   float64
 18  hosp_patients                               40656 non-null   float64
 19  hosp_patients_per_million                   40656 non-null   float64
 20  weekly_hosp_admissions                      24497 non-null   float64
 21  weekly_hosp_admissions_per_million          24497 non-null   float64
 22  icu_patients                                39116 non-null   float64
 23  icu_patients_per_million                    39116 non-null   float64
 24  weekly_icu_admissions                       10993 non-null   float64
 25  weekly_icu_admissions_per_million           10993 non-null   float64
 26  stringency_index                            202760 non-null  float64
 27  reproduction_rate                           185683 non-null  float64
 28  total_tests                                 79387 non-null   float64
 29  new_tests                                   75403 non-null   float64
 30  total_tests_per_thousand                    79387 non-null   float64
 31  new_tests_per_thousand                      75403 non-null   float64
 32  new_tests_smoothed                          103965 non-null  float64
 33  new_tests_smoothed_per_thousand             103965 non-null  float64
 34  positive_rate                               101560 non-null  float64
 35  tests_per_case                              100645 non-null  float64
 36  total_vaccinations                          83222 non-null   float64
 37  people_vaccinated                           79011 non-null   float64
 38  people_fully_vaccinated                     77011 non-null   float64
 39  total_boosters                              58784 non-null   float64
 40  new_vaccinations                            68876 non-null   float64
 41  new_vaccinations_smoothed                   202840 non-null  float64
 42  total_vaccinations_per_hundred              83222 non-null   float64
 43  people_vaccinated_per_hundred               79011 non-null   float64
 44  people_fully_vaccinated_per_hundred         77011 non-null   float64
 45  total_boosters_per_hundred                  58784 non-null   float64
 46  new_vaccinations_smoothed_per_million       202840 non-null  float64
 47  new_people_vaccinated_smoothed              202840 non-null  float64
 48  new_people_vaccinated_smoothed_per_hundred  202840 non-null  float64
 49  code                                        492471 non-null  object
 50  continent                                   476311 non-null  object
 51  population                                  498432 non-null  float64
 52  population_density                          490379 non-null  float64
 53  median_age                                  492399 non-null  float64
 54  life_expectancy                             0 non-null       float64
 55  gdp_per_capita                              402286 non-null  float64
 56  extreme_poverty                             330192 non-null  float64
 57  diabetes_prevalence                         434531 non-null  float64
 58  handwashing_facilities                      233059 non-null  float64
 59  hospital_beds_per_thousand                  311572 non-null  float64
 60  human_development_index                     0 non-null       float64
dtypes: datetime64[ns](1), float64(57), object(3)
memory usage: 239.8+ MB

In [ ]:
full_data['country'].nunique()

262

In [ ]:
full_data['country'].nunique()

262

In [ ]:
pd.to_datetime('2023-12-31')

NameError: name 'pd' is not defined

In [ ]:
filter_data = full_data[full_data['date'] < pd.to_datetime('2024-01-01')]

In [ ]:
filter_data.shape

In [ ]:
filter_data['date'].max()

In [ ]:
filter_data.columns

In [ ]:
columns_to_select = ['country', 'date', 'total_cases', 'new_cases', 'total_cases_per_million',
                     'total_deaths', 'new_deaths', 'total_deaths_per_million','new_deaths_per_million',
                     'total_tests', 'new_tests','total_tests_per_thousand', 'new_tests_per_thousand',
                     'total_vaccinations','people_vaccinated','total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
                     'continent','population','human_development_index']

len(columns_to_select)

In [ ]:
filter_data = filter_data[columns_to_select]

filter_data.shape

In [ ]:
filter_data.info()

In [ ]:
filter_data.isnull().sum()

In [ ]:
filter_data[filter_data['human_development_index'].isnull()][['country', 'human_development_index']]

In [ ]:
filter_data[filter_data['human_development_index'].isnull()]['country'].unique()

In [ ]:
filter_data[filter_data['population'].isnull()]['country'].unique()

In [ ]:
filter_data[filter_data['continent'].isnull()]['country'].unique()

In [ ]:
filter_data[filter_data['country']=='World'].head(10)

In [ ]:
world_data = filter_data[filter_data['country']=='World']

world_data

In [ ]:
plt.figure(figsize=(10,8))

plt.plot_date(x=world_data['date'], y=world_data['total_cases'], fmt='b-')

plt.show()

In [ ]:
filter_data = filter_data.fillna(0)

In [ ]:
filter_data.groupby("country").agg('max')['total_cases'].reset_index().sort_values(by='total_cases', ascending=False).head(50)

In [ ]:
countries = ['World', 'Asia', 'Africa', 'Europe', 'North America', 'South America', 'Oceania',
             'United States', 'China', 'India', 'France', 'Germany', 'Brazil', 'South Korea', 'Japan',
             'Italy', 'United Kingdom']

In [ ]:
final_data = filter_data[filter_data['country'].isin(countries)]

In [ ]:
final_data['country'].unique()

In [ ]:
final_data.shape

In [ ]:
final_data.groupby('country').agg({'total_cases': 'max', 'date': ['min', 'max', 'count']})

In [ ]:
final_data.to_csv("/content/covid19_final_dataset.csv")